<h1>Produtos</h1>
<ul>
    <h1>Lista de produtos</h1>
<table border="1">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
    </tr>
    {%for p in produtos %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ p.nome }}</td>
        <td>R$: {{ "%2.f"|format(p.preco) }}</td>
        <td>Categoria: {{ p.categoria }}</td>
    </tr>
    {% endfor %}
</table>
</ul>
<nav>
    <a href="{{url_for('index')}}">Inicio</a>
    <a href="{{url_for('produtos')}}">Produtos</a>
    <a href="{{url_for('sobre')}}">Sobre</a>
</nav>